<h4 align="center">Register a new domain:</h4>

<%= form_for domain, remote: true do |f| %>
<div class="form-group">
  <%= f.text_field :name, :class => 'form-control', placeholder: 'Domain name' %>
  <%= f.text_field :url, :class => 'form-control', value: 'http://' %>
</div>

<div class="form-group">
  <%= f.submit "Add Domain", :class => 'btn btn-success' %>
</div>
<% end %>