<div class="the-box col-xs-8 col-xs-offset-2">
  <h2 class="app-index">Your Domains</h2><br />
  <table>
    <thead>
      <tr>
        <th>Domain Name</th>
        <th>URL</th>
        <th>Delete?</th>`
      </tr>
    </thead>
    <tbody class="js-domains">
      <%= render @domains %>
    </tbody>
  </table>
  <hr>
  <div class="new-domain">
    <%= render partial: 'new', locals: { user: @user, domain: @new_domain } %>
  </div>
</div>